*{
    font-family: "Mulish", sans-serif !important;
}
body{
    padding-top: 70px;
}
.bgcolor{
    background: #106c64b8;
}
.navBtn:hover{
    background: #696868c1;
}

.imgCollapse{
    height:calc(100svh - 150px); 
    width: auto;
}
.bt-cart {
    width: 25px;
    border: 1px solid black;
    border-color: black;
}
.card-servi{
    padding: 10px 0px;
}
.imgIco{
  margin: 15px
}

.texto{
  align-items: center;
  gap: 10px;
}

.msjError{
  color: red;
}
.img-venta{
    margin: 15px;
    width: 60px;
}

#btnDemo:hover{
    background: #690000;
}

#btninicio:hover{
    background: #044e01;
}
#btnDemo{
    background: #f80000;
}

#btninicio{
    background: #09f800;
}

#Demo {
  scroll-margin-top: 55px;
}
#servicios {
    scroll-margin-top: 55px;
}
#Conocenos {
    scroll-margin-top: 55px;
}
#Ventajas {
    scroll-margin-top: 55px;
}
#cliente {
    scroll-margin-top: 55px;
}
/*
@media (max-width: 768px) {
    .bt-cart {
        width: 100%;
    }
}*/